.container {
    display: grid;
    padding: 3vw;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(3, 1fr); /* Three columns setup */
    gap: 10px; /* Space between grid items */
    width: 80vw;
    height: 80vh;
    margin: auto;
  }
  
  .item1 {
    grid-column: span 2; /* First row, two columns */
  }
  
  .item2, .item3, .item4 {
    grid-column: span 1; /* Second row, three columns */
  }
  
  .item5 {
    grid-column: span 2; /* Third row, two columns */
  }
  .item6 {
    grid-column: span 1;
  }
  