
.LoginCard{
    /* background-image: url('/Assests/Images/backgroundGreen.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; */
    background-color: #ffffff67;
    border-radius: 100px 0 100px 0 ;
    position: relative;
    height: 600px;
    width: 430px;
    padding: 5vw;
    place-content: center;
    box-shadow: inset;
    text-align: center;
    box-shadow: 0 8px 8px rgba(0, 0, 0.4, 0.4);
    
}

.btn1 {
    color: white;
    background-color: #27814d;
    border: none;
    border-radius: 12px; /* Rounded corners */
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn1:hover {
    background-color: #94DE4B; /* Darker color on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    background-color: transparent;
    border: none;
  }
  
  .close-btn:hover {
    color: #17ac23; /* Color change on hover */
  }