/* Popup styles
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(148, 255, 210, 0.085);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
} */
.HeadingBox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto; /* Divide space: h1 takes max available space, search-container auto-adjusts */
    align-items: center; /* Align content vertically in the center */
    padding: 10px;
}
.inputFieldBox{
  gap: 10px;
  display: grid;
  grid-template-columns: auto auto;
}
